table {
  width: 100%;
  
}
.container{
  margin-top: 10%;
  margin-left: 30%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.spinner{
  display: block;
  margin-left: 10%;
  margin-right: 10%;

}