<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
    </button>
    <h1>Patient Record Management System</h1>
    <span class="menu-spacer"></span>
    <div class="navbar">


      <a class="navbar" mat-button [routerLink]="'/accounts'"> </a>
      <a mat-button [routerLink]="'/create-account'"> Add Record </a>
      <a mat-button [routerLink]="'/contacts'"> View Record </a>
      <a mat-button [routerLink]="'/create-contact'"> Activate Record </a>
      <a mat-button [routerLink]="'/activities'"> Deactivate Record </a>

    </div>
  </mat-toolbar-row>

</mat-toolbar>
<div class="row">
  <div class="column">
    <div class="quote">
      <h1>Where your records</h1>
      <h1> Are highly </h1>
      <h1>Secured</h1>
    </div>
  </div>
  <div class="column">
    <img class="landing_image" src="../assets/landing_page.svg" alt="health care">

  </div>
</div>