<h2 mat-dialog-title>Patient Record</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <div class="form-container">
            <form [formGroup]="recordForm" (submit)="submitRecord()">

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> First Name
                    </mat-label>
                    <input matInput formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Middle Name
                    </mat-label>
                    <input matInput formControlName="middleName" required>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Last Name
                    </mat-label>
                    <input matInput formControlName="lastName" required>
                </mat-form-field>
                <br>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Email
                    </mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>



                <mat-form-field appearance="fill">
                    <mat-label>Birthdate</mat-label>
                    <input matInput formControlName="birthdate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Gender
                    </mat-label>
                    <input matInput formControlName="gender" required>
                </mat-form-field>



            </form>
        </div>
    </div>
    <button mat-flat-button *ngIf="isEdit" mat-button (click)="submitRecord()" color="accent"
        cdkFocusInitial>Submit</button>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
    <button *ngIf="data.status==0" (click)="activateRecord()" mat-flat-button color="accent">Activate</button>
    <button *ngIf="data.status==1" (click)="deactivateRecord()" mat-flat-button color="primary">Deactivate</button>

    <button *ngIf="!isEdit&&data.status==1" mat-button (click)="editRecord()" >Edit Record</button>
    <button *ngIf="isEdit" mat-button (click)="closeEdit()" >Close Edit</button>


</mat-dialog-actions>