


<h2 mat-dialog-title>Patient Record</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">

        <mat-tab-group animationDuration="10000ms">

            <mat-tab label="Edit">
                <br>
                <br>
                <div class="form-container">
                    <form [formGroup]="recordForm" (submit)="submitRecord()">
        
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> First Name
                            </mat-label>
                            <input matInput formControlName="firstName" required>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Middle Name
                            </mat-label>
                            <input matInput formControlName="middleName" required>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Last Name
                            </mat-label>
                            <input matInput formControlName="lastName" required>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Email
                            </mat-label>
                            <input matInput formControlName="email" required>
                        </mat-form-field>
        
        
        
                        <mat-form-field appearance="fill">
                            <mat-label>Birthdate</mat-label>
                            <input matInput formControlName="birthdate" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
        
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Gender
                            </mat-label>
                            <input matInput formControlName="gender" required>
                        </mat-form-field>
        
        
        
                    </form>
                    
                </div>
        
        
            </mat-tab>


            <mat-tab label="Addresses">
                <br>

                    <div>

                        <button  (click)="createAddress()" mat-flat-button color="primary">Add Address</button>
    
                        <!-- <button mat-flat-button *ngIf="isEdit" mat-button (click)="submitRecord()" color="accent"
                        cdkFocusInitial>Submit</button> -->
    
                    </div>
                    
                        
                        <form [formGroup]="addressForm">
    
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Address </mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>
                            
    
                        
                        <div formArrayName="addressArray">
    
                            <div *ngFor="let address of addressArray.controls;let i = index" >
                                
                                <mat-form-field class="form-field" >
                                    <mat-label> Address
                                    </mat-label>
                                    <input matInput [formControlName]="i" required>
                                </mat-form-field>
                            </div>
                              
                            
                        </div>
                    
                    </form>
                    <button  (click)="submitAddress()" mat-flat-button color="accent">Submit</button>
                </mat-tab>



               
           
        </mat-tab-group>

    </div>
   

        <!-- <div formArrayName="newAddress"> -->

            <!-- <button mat-flat-button *ngIf="isEdit" mat-button (click)="addAddress()" color="primary"
            cdkFocusInitial>Add Address</button> -->
        <!-- </div>
         -->

   

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
    <button *ngIf="data.status==0" (click)="activateRecord()" mat-flat-button color="accent">Activate</button>
    <button *ngIf="data.status==1" (click)="deactivateRecord()" mat-flat-button color="primary">Deactivate</button>
    

    <button *ngIf="!isEdit&&data.status==1" mat-button (click)="editRecord()" >Edit Record</button>

    
    <button *ngIf="isEdit" mat-button (click)="closeEdit()" >Close Edit</button>
    <!-- <button *ngIf="isEdit" mat-button (click)="">Add Address</button> -->


</mat-dialog-actions>

<!-- {{addressForm|json}} -->