.navbar{
    margin-left: auto; 
    margin-right: 0;
}
.landing_image{
    margin-top: 100px;

    width: 90%;
    height: auto;
}
.row{
    display: flex;

}
.column {
    flex: 50%;

  }
  .quote{
    margin-top: 200px;
    margin-left: 300px;
    width: 80%;
    font-size: 150%;

  }
  