<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
      </button>
      <h1 routerLink="">Patient Record Management System</h1>
      <span class="menu-spacer"></span>
      <div class="navbar">
  
  
        <button  routerLink="/main" mat-raised-button color="accent">Start</button>
  
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <div class="row">
    <div class="column">
      <div class="quote">
        <h1>Where your records</h1>
        <h1> Are highly </h1>
        <h1>Secured</h1>
      </div>
    </div>
    <div class="column">
      <img class="landing_image" src="../assets/landing_page.svg" alt="health care">
  
    </div>
  </div>
  