<div class="column">
  <img src="../assets/addpatient.png" >
</div>
<div *ngIf="!submitted" class="submit-form">
  <form [formGroup]="addPatient" class="form-group" (submit)="savePatient()">
      <mat-form-field  appearance="outline">
          <mat-label> First Name
          </mat-label>
          <input matInput formControlName="firstName" required>
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label> Middle Name
        </mat-label>
        <input matInput formControlName="middleName" required>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label> Last Name
        </mat-label>
        <input matInput formControlName="lastName" required>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label> Address
      </mat-label>
      <input matInput formControlName="address" required>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label> Contact Number
    </mat-label>
    <input matInput formControlName="contactNumber" required>
  </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label> Email
        </mat-label>
        <input matInput formControlName="email" required>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput formControlName="birthdate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <select formControlName="gender" matNativeControl required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>
    </mat-form-field><br>
    <button [disabled]="!addPatient.valid" class="btn btn-success">Submit</button>
  </form>
 </div>
 <div *ngIf="submitted" class="confirm">
  <h4>Patient was added successfully!</h4><br><br>
  <button (click)="newPatient()" class="btn btn-success" >Back</button>
</div>